*, ::after,::before{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    background-image: url("https://media.fugro.com/media/images/default-source/services/survey/land-weather-forecast.jpg?sfvrsn=19be111a_19");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
}

a{
    color:black;
    text-decoration: none;
}
.container{
    display: flex;
    background-color: #fff;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 90px ;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    max-width: 700px;
    border-radius: 10px;
    box-shadow: 0 0 50px #ccc;

}

.content{
    width: 100%;
    padding:3rem;
    text-align: center;
}


h1{
    font-size: 1.5rem;
    font-weight: 500;
    padding-bottom: 1rem;
    color: #1e1e1e;

}

.location , .status{
    font-size: 1.5rem;
    font-weight: normal;
    
}

.value{
    font-size: 2rem;
    margin-top: 0.5rem;
}

.city-search-container{
    display: flex;
    justify-content: center;
    gap: 10px;
    
}
.city-search{
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    width: 100%;
    font-size: 1rem;
}
.search-btn{
    padding: 10px 20px;
    border: none;
    background-color: rgb(192, 37, 37);
    color: white;
    border-radius: 10px;
    cursor: pointer;
}
.search-btn:hover{
    background-color: rgb(231, 60, 60);
}

footer{
    position: absolute;
    bottom: 10px;
    left: 10px;
}

@media screen  and (max-width:600px){
    
    
    .location, .value, .status{
        font-size: 1rem;
    }
    .detail-section{
        flex-direction: column;
        align-items: left;
    }
    .city-search-container, .city-search{
        flex-direction: column;
        width: 100%;
    }
    .weather-data{
        text-align: left;
        margin-top: 1rem;
        font-size: 1rem;
    }
    .container{
        width: 90%;
       
    }
    .detail-section{
        display: grid;
    }
    h1, .city-search-container{
        margin-bottom: 2rem;
    }
   
}

@media screen and (min-width:601px) {
    .detail{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;

    }
    h1 {
        font-size: 2rem;
    }
    .weather-data .title{
        font-size: 1rem;
    }
    .detail-section{
        padding-top: 2em;
        display: grid;
        grid-template-columns: repeat( auto-fit, minmax(150px, 1fr) );
    }
    h1, .city-search-container{
        margin-bottom: 2rem;
    }
    
}

@media screen and (min-width:1000px) {
h1 {
    font-size: 2.5rem;
}

}
